<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Home page prototype for a monitoring system project">
    <meta name="author" content="Maicon Mauricio">
    <title>CEEM</title>

    <!-- core CSS -->
    <link href="/../css/bootstrap_for_index.min.css" rel="stylesheet">
    <link href="/../css/font-awesome.min.css" rel="stylesheet">
    <link href="/../css/animate_for_index.min.css" rel="stylesheet">
    <link href="/../css/main_for_index.css" rel="stylesheet">
    <link href="/../css/style_for_index.css" rel="stylesheet" />
    <link href="/../css/responsive_for_index.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
</head><!--/head-->
    @RenderBody()
    
</html>